<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Google - Suite" parallel="false">
	<test name="GoogleTestsFireFox">
	<parameter name="stringToSearch" value="Facebook"/>
	<parameter name="serchResultsCount" value="6"/>
	<parameter name="browser" value="firefox"/>
		<classes>
			<class name="googletests.tests.GooglePageTests" />
		</classes>
	</test>
</suite>